<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{botManagement.title})"></head>
<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div class="container-fluid">
    <div class="front-content">
        <h2 th:text="#{application.title}">SimCity</h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{bots}">Bots</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <div style="height: 40vh; overflow-y: auto">
                    <table class="table table-striped">
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <tr style="font-size:120%">
                            <th th:text="#{bot.id}">ID</th>
                            <th th:text="#{bot.name}">Bot</th>
                            <th th:text="#{bot.type}">Type</th>
                            <th th:text="#{bot.status}">Status</th>
                            <th th:text="''">Place holder - Play Button</th>
                            <th th:text="''">Place holder - Edit Button</th>
                            <th th:text="''">Place holder - Stop Button</th>
                            <th th:text="''">Place holder - Delete Button</th>
                        </tr>
                        <tr th:each="bot : ${allBots}">
                            <td th:text="${bot.id}">ID</td>
                            <td th:text="${bot.name}">Bot name</td>
                            <td th:text="${bot.type}">Type</td>
                            <td th:text="${bot.status}">Status</td>
                            <td><a th:href="@{'/workers/' + ${worker.workerId} + '/bots/run/' + ${bot.id}" type="button" class="btn btn-success btn-sm" th:title="#{run}"><span class="glyphicon glyphicon-play"></span></a></td>
                            <td><a type="button" class="btn btn-default btn-sm" th:title="#{edit}" data-toggle="modal" data-target="#editBotModal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a th:href="@{'/workers/' + ${worker.workerId} + '/bots/stop/' + ${bot.id}}" type="button" class="btn btn-success btn-sm" th:title="#{stop}"><span class="glyphicon glyphicon-stop"></span></a></td>
                            <td><a th:href="@{'/workers/' + ${worker.workerId} + '/bots/delete/' + ${bot.id}}" type="button" class="btn btn-danger btn-sm" th:title="#{delete}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Import footer -->
<div th:replace="layout :: footer"></div>
</body>
</html>