<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{workerManagement.title})"></head>
<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div class="container-fluid">
    <div th:replace="protected/modals/newBotModal :: newBotModal"></div>
    <div th:replace="protected/modals/newBotsModal :: newBotsModal"></div>
    <div class="messagesContent">
        <div th:if="${param.botCreatedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botCreatedSuccessAlert" th:text="#{settings.alerts.botCreatedSuccess}">New bot has been created</span>
        </div>
        <div th:if="${param.botStartedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botStartedSuccessAlert" th:text="#{settings.alerts.botStartedSuccess}">Bot has been started</span>
        </div>
        <div th:if="${param.botRestartedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botRestartedSuccessAlert" th:text="#{settings.alerts.botRestartedSuccess}">Bot has been restarted</span>
        </div>
        <div th:if="${param.botKilledSuccess}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botKilledSuccessAlert" th:text="#{settings.alerts.botKilledSuccess}">Bot has been removed</span>
        </div>
        <div th:if="${param.botEditedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botEditedSuccessAlert" th:text="#{settings.alerts.botEditedSuccess}">Bot has been edited</span>
        </div>
        <div th:if="${param.botsDeployedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botsDeployedSuccessAlert" th:text="#{settings.alerts.botsDeployedSuccess}">Bots have been deployed</span>
        </div>
        <div th:if="${param.botStoppedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botStoppedSuccessAlert" th:text="#{settings.alerts.botStoppedSuccess}">Bot has been stopped</span>
        </div>
        <div th:if="${param.botsDeletedSuccess}" class="alert alertbox alert-success fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botsDeletedSuccessAlert" th:text="#{settings.alerts.botsDeletedSuccess}">All bots have been deleted</span>
        </div>
        <div th:if="${param.botCreatedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botCreatedFailedAlert" th:text="#{settings.alerts.botCreatedFailed}">Bot cannot be created</span>
        </div>
        <div th:if="${param.botStartedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botStartedFailedAlert" th:text="#{settings.alerts.botStartedFailed}">Bot cannot be started</span>
        </div>
        <div th:if="${param.botRestartedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botRestartedFailedAlert" th:text="#{settings.alerts.botRestartedFailed}">Bot cannot be restarted</span>
        </div>
        <div th:if="${param.botKilledFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botKilledFailedAlert" th:text="#{settings.alerts.botKilledFailed}">Bot cannot be killed</span>
        </div>
        <div th:if="${param.botEditedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botEditedFailedAlert" th:text="#{settings.alerts.botEditedFailed}">Bot cannot be edited</span>
        </div>
        <div th:if="${param.botsDeployedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botsDeployedFailedAlert" th:text="#{settings.alerts.botsDeployedFailed}">Bots cannot be deployed</span>
        </div>
        <div th:if="${param.botStoppedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botStoppedFailedAlert" th:text="#{settings.alerts.botStoppedFailed}">Bot cannot be stopped</span>
        </div>
        <div th:if="${param.botsDeletedFailed}" class="alert alertbox alert-warning fade in" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info: </span>
            <span id="botsDeletedFailedAlert" th:text="#{settings.alerts.botsDeletedFailed}">All bots cannot be deleted</span>
        </div>
    </div>
    <div class="front-content">
        <h2 th:text="#{application.title}">SimCity</h2>

        <div class="buttons" style="margin-top: 10px; margin-bottom: 10px">
            <button onclick="history.go(0)" value="refresh" type="button" class="btn btn-default btn-lg" th:title="#{refresh}"><span class="glyphicon glyphicon-refresh"></span></button>
            <a type="button" class="btn btn-success btn-lg" th:title="#{addNew}" data-toggle="modal" data-target="#newBotModal"><span class="glyphicon glyphicon-plus"></span></a>
            <a type="button" class="btn btn-danger btn-lg" th:title="#{removeAll}" data-toggle="modal" th:href="@{/workers/0/bots/deleteAll}" style="float:right;"><span class="glyphicon glyphicon-remove-sign"></span></a>
            <a type="button" class="btn btn-info btn-lg" th:title="#{addMultiple}" data-toggle="modal" data-target="#newBotsModal" style="float:right;"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{bots}">Bots</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <div style="height: 40vh; overflow-y: auto">
                    <table class="table table-striped">
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="1%"/>
                        <col width="1%"/>
                        <col width="1%"/>
                        <col width="1%"/>
                        <col width="1%"/>
                        <col width="1%"/>
                        <tr style="font-size:120%">
                            <th th:text="#{bot.id}">ID</th>
                            <th th:text="#{bot.name}">Bot</th>
                            <th th:text="#{bot.type}">Type</th>
                            <th th:text="#{bot.status}">Status</th>
                            <th th:text="''">Place holder - Play Button</th>
                            <th th:text="''">Place holder - Edit Button</th>
                            <th th:text="''">Place holder - Stop Button</th>
                            <th th:text="''">Place holder - Restart Button</th>
                            <th th:text="''">Place holder - Delete Button</th>
                            <th th:text="''">Place holder - Info Button</th>
                        </tr>
                        <tr th:each="aBot : ${allBots}">
                            <td th:text="${aBot.id}">ID</td>
                            <td th:text="${aBot.name}">Bot name</td>
                            <td th:text="${aBot.type}">Type</td>
                            <td th:text="${aBot.getBotStatus().getRunningState()}">Status</td>
                            <td><a th:href="@{'/workers/0/bots/run/' + __${aBot.id}__}" type="button" class="btn btn-success btn-xs" th:title="#{run}"><span class="glyphicon glyphicon-play"></span></a></td>
                            <td><a type="button" class="btn btn-primary btn-xs" th:title="#{edit}" data-toggle="modal" th:attr="data-target='#editBotModal'+${aBot.id}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <div th:replace="protected/modals/editBotModal :: editBotModal"></div>
                            <td><a th:href="@{'/workers/0/bots/stop/' + __${aBot.id}__}" type="button" class="btn btn-warning btn-xs" th:title="#{stop}"><span class="glyphicon glyphicon-stop"></span></a></td>
                            <td><a th:href="@{'/workers/0/bots/restart/' + __${aBot.id}__}" type="button" class="btn btn-default btn-xs" th:title="#{restart}"><span class="glyphicon glyphicon-repeat"></span></a></td>
                            <td><a th:href="@{'/workers/0/bots/delete/' + __${aBot.id}__}" type="button" class="btn btn-danger btn-xs" th:title="#{delete}"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td><a type="button" class="btn btn-info btn-xs" th:title="#{info}" data-toggle="modal" th:attr="data-target='#showBotModal'+${aBot.id}+${aBot.name}+${aBot.type}+${aBot.getBotStatus().getRunningState()}+${aBot.getSimSpeed()}+${aBot.getStartPoint()}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                            <div th:replace="protected/modals/showBotModal :: showBotModal"></div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Import footer -->
<div th:replace="layout :: footer"></div>
</body>
</html>