<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Edit Bot Modal Form -->
<div th:fragment="editBotModal">
    <div class="modal fade" id="editBotModal" tabindex="-1" role="dialog" aria-labelledby="editBotModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editBotModalLabel" th:text="#{modal.editbot.title}">Edit bot</h4>
                </div>
                <form id="editWorkerForm" th:action="@{/workers/{__${workerId}__}/bots/" th:object="${bot}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="workerName" class="control" th:text="#{bot.name} + ':'">Bot name:</label>
                            <input type="text" class="form-control" id="workerName" th:field="*{name}"/>
                            <label for="workerUrl" class="control" th:text="#{bot.startpoint} + ':'">Bot startpoint:</label>
                            <input type="text" class="form-control" id="workerUrl" th:field="*{startpoint}"/>
                            <label for="workerUrl" class="control" th:text="#{bot.speed} + ':'">Bot speed:</label>
                            <input type="text" class="form-control" id="workerUrl" th:field="*{speed}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
                        <button type="submit" class="btn btn-primary" th:text="#{edit}">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>